@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@100;200;300;400;500;600;800;900&display=swap");
/* roote */
:root {
  --main-color: #014e56;
  --text-color: #fff;
  --span-color: #f67e7e;
  --raptur-blue: #79c8c7;
  --sacramento: #012f34;
  --deep: #004047;
  --border-color: #c4fffe;
  --darkGreen:#002529;
}
/* global */
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Livvic", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  overflow-x: hidden;
}

/* container */
.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
/* header section */
.header {
  padding: 7.7rem;
  background: var(--main-color);
}
.header-contaienr {
  display: flex;
  align-items: center;
}

.site-logo {
  margin-right: 8rem;
  transition: 0.3s;
}
.site-logo:active {
  opacity: 0.6;
}
.site-logo:hover {
  opacity: 0.8;
}
.site-logo-image {
  width: 15.9rem;
  height: 4rem;
}
.site-nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 45rem;
 
}
.site-nav-item a {
    text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.8rem;
}
.site-nav-item a:hover {
  color: var(--span-color);
}
.site-nav-item a:active {
  opacity: 0.6;
}

.site-nav-item:not(:last-child) {
  margin-right: 4rem;
}
.main-btn {
  border-radius: 2.4rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.8rem;
  transition: 0.5s;
  text-decoration: none;
  padding: 0.9rem 3.3rem 1.1rem 3.2rem;
}
.header-btn{
  color: var(--text-color);
  border: 1px solid var(--text-color);
}
.header-btn:hover {
  background: var(--text-color);
  color: var(--main-color);
}
.header-btn:active {
  background: var(--main-color);
  color: var(--text-color);
  opacity: 0.6;
}
/* main */
.main {
  flex-grow: 1;
}
/* border */
.main-border {
    display: block;
    width: 50px;
    height: 4px;
  }
  .aqua {
    background: var(--raptur-blue);
    margin-bottom: 7.9rem;
  }
  .light {
    background: var(--span-color);
    margin-bottom: 5.4rem;
  }
  .last-section {
    position: relative;
    background: var(--span-color);
    padding: 7.6rem 0;
    z-index: 1;
}
.last-container{
    position: relative;
}
.last-image {
    position: absolute;
    left: -22rem;
    bottom: -17.5rem;
    z-index: 0;
}
.last-content {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.last-title {
    margin: 0;
    padding: 0;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 4.8rem;
    color: var(--sacramento);
}

.last-btn {
    color: var(--sacramento);
    border: 2px solid var(--sacramento);
}
.last-btn:hover{
    background: var(--sacramento);
    color: var(--text-color);
}
.last-btn:active{
    background: var(--span-color);
    color:var(--sacramento);
    opacity: 0.6;
}
/* footer section */
.footer {
    position: relative;
    background: var(--darkGreen);
    padding: 4.8rem 0;
    z-index: 1;
}
.footer-container {
    display: flex;
    align-items:flex-start;
}
.footer-site-logo {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 12.5rem;
}
.footer-logo {
    margin-bottom: 2.5rem;
}

.footer-nav {
    padding: 0;
    color: var(--text-color);
    list-style: none;
    font-size: 1.8rem;
    font-weight: 600;
    list-style: 2.8rem;
    display: flex;
    align-items: center;
}
.footer-list {
    margin: 0;
    padding: 0;
    margin-right: 25.5rem;
}
.footer-list-item {
    list-style: none;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.5rem;
    color: var(--text-color);
    opacity: 0.6;
}
.footer-list-item:not(:last-child){
    margin-bottom: 5px;
}

.footerSite-link {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer-site-link {
    list-style: none;
    display: flex;
    align-items:center;
}
.footer-link-item{
    cursor: pointer;
    margin-bottom: 3rem;
}
.footer-link-item:not(:last-child) {
   margin-right: 1.6rem;
}
.footer-link-image {
    border-radius: 10%;
}
.footer-link-text {
    margin: 0;
    padding: 0;
    color:var(--text-color);
    opacity: 0.6;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.5rem;
}
/* media query */
@media (max-width:768px) {
    .container{
        max-width: 768px;
        width: 100%;
    }
    .site-logo {
        width: 12.7rem;
        margin-right: 4.8rem;
    }
    .site-nav {
        margin-right: 6rem;
      }
}